body {
  position: relative;
  color: #fff;
  height: 100vh;
  font-family:'Inter', sans-serif;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chakra-ui-dark select option {
  background-color: #2a2a2a;
  color: #e2e8f0;
}

/* Global scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cf3350;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8293f;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
